.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.btn-container{
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

body {
  background-color: #457b9d;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #1d3557;
  font-size: 8rem;
  color: #a8dadc;
}

p {
  font-size: 2rem;
  color: #a8dadc;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #f1faee;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

button {
  background-color: #e63946;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 0;
  width: 150px;
  letter-spacing: 1px;
  border-radius: 5px;
}
/* For shaking animation */
.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}